@page
@model YYRA_Team_Project.Pages.NewRegister.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Register</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.U_Username" class="control-label"></label>
                <input asp-for="User.U_Username" class="form-control" />
                <span asp-validation-for="User.U_Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.U_Pass" class="control-label"></label>
                <input asp-for="User.U_Pass" class="form-control" />
                <span asp-validation-for="User.U_Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.U_Role" class="control-label"></label>
                <input asp-for="User.U_Role" class="form-control" />
                <span asp-validation-for="User.U_Role" class="text-danger"></span>
            </div>
            <div class="card-link">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
