@page
@model IndexModel
@{
    ViewData["Title"] = "4353 Fuel Application";
}

    <div class="text-center">
        <h1> Welcome </h1>
        <h2 class="display-4" style="font-family:verdana">Fuel Application</h2>
        
    </div>
