@page
@model YYRA_Team_Project.Pages.Users.RegisterModel
@{
}
<!-- note from Youngjoon: register page is actually the 'Create' page under 'New Register' folder. 
    This page isn't being used.-->

    <style>
        .column-left {
            float: left;
            width: 50%;
            margin-left: 25%;
        }
    </style>



<hr />
<div class="row">
    <div class="column-left" ">
        <h3>Register</h3>
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Users.U_ID" class="control-label"></label>
                <input asp-for="Users.U_ID" class="form-control" />
                <span asp-validation-for="Users.U_ID" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-primary text-center" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
